

#color-lights{
	padding-top: 8px;
	position: absolute;
	left: 400px;
	top: 150px;
	height: 80px;
	width: 300px;
	text-align: center;
	font-size: 3em;
	padding-bottom:7px;
	margin-bottom:5px;
	
}




























